.footer {
  margin-top: 30px;
  .footer-links {
  text-align: center;
  a {
    color: gray;
    display: inline-block;
    text-decoration: none;
    border-right: 2px solid #ddd;
    padding: 0 5px;
  }
  }
  .copyright {
    color: #404040;
  }
}
