@import '../../assets/variables';

.user-header {
  background: $light-blue;
  .user-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-control {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-btn {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: $blue;
      }
    }
    .user-avatar {
      margin: 0 20px;
      cursor: pointer;
      &:hover {
        background-color: $blue;
      }
    }
  }
  .logo-text {
    color: white;
  }
  }
  
}