
.image-uploader {
  width: 100%;
  min-height: 100px;
}
.item-pictures {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  .item-pic {
    width: 150px;
    height: 150px;
    border: 1px solid #dedede;
    margin: 5px;
  }
}


.hidden {
  display: none;
}