@import '../assets/variables';
.full-width {
  width: 100vw;
}
.hide {
  display: none;
}

.text-left {
  text-align: left!important;
  .title1, .title2 {
      max-width: 70%;
    }
}

.section-with-image {
  align-items: flex-start;
}


.header-title-blue {
  color: $blue;
  padding: 20px;
}
.flex-grid {
  flex-grow: 1;
}

.home-page {
  background-image: none;
  background: transparent;
}