.signup-page {
  background: url('/signup_bg.png') no-repeat;
  background-size: cover;
  background-position-y: -250px;
  background-position-x: 10px;
  .signup-card {
    display: block;
    width: 50%;
    margin: 10% auto;
    .signup-left {
      background-image: url("/signup_left.png");
      background-size: cover;
      width: 50%;
      height: 550px;
      float: left;
      margin-right: 20px;
    }
    .signup-right {
      float: left;
      margin-left: 20px;
      .signup-form {
        min-width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .signup-title {
          color: #2684FE;
          font-weight: bold;
          padding-top: 20px;
        }
        .field {
          width: 90%;
          margin: 10px 0;
        }
        .signup-button {
          background: #2684FE;
          color: #fff;
          text-transform: initial;
          width: 90%;
          margin-top: 20px;
          padding: 15px 20px;
        }
      }
    }
  }
}


