.signup-page {
  background: url('/signup_bg.png') no-repeat;
  background-size: cover;
  background-position-y: -250px;
  background-position-x: 10px;
  .signup-card {
    display: block;
    width: 50%;
    margin: 5% auto;
    .signup-left {
      background-image: url("/signup_left.png");
      background-size: cover;
      width: 50%;
      height: 550px;
      float: left;
      margin-right: 20px;
    }
    .signup-right {
      width: 45%;
      float: left;
      margin-left: 20px;
      .signup-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .signup-title {
          color: #2684FE;
          font-weight: bold;
          padding-top: 20px;
        }
        .field {
          width: 90%;
          margin: 10px 0;
        }
        .signup-button {
          background: #2684FE;
          color: #fff;
          text-transform: initial;
          width: 90%;
          margin-top: 20px;
          padding: 15px 20px;
        }
      }
    }
  }
}

/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (orientation: portrait) { 
  .signup-page {
    .signup-card {
      width: 90%;
      .signup-left {
        width: 100%;
        height: auto;
      }
      .signup-right {
        .signup-form {
          .field {
            width: 75%;
          }
        }
      }
    }
  }
  
}


